<h2 class="brand">Comprar Planos</h2>

<div class="columns">
  <div class="inline-block margin-right">
    <label class="inline-block">
      Origem<br>
      <choose-region ng-model="vm.form.origin" details="vm.details"></choose-region>
    </label>
  </div>
  <div class="inline-block margin-right">
    <label class="inline-block">Destino<br>
      <choose-region ng-model="vm.form.destiny" details="vm.details"></choose-region>
    </label>
  </div>
  <div class="inline-block">
    <label class="inline-block">Tempo<br>
      <input class="input-text" type="text" name="time" ng-model="vm.form.time">
    </label>
  </div>
</div>

<div class="columns">
  <div class="column" ng-class="'c' + {{vm.plans.total + 1}}" ng-repeat="item in ::vm.plans.data">
    <p class="product">
      <span class="description">{{::item.plan}}</span>
      <span ng-show="!vm.form || !vm.form.time || !vm.form.destiny || !vm.form.origin || !vm.combinations.getPricing()[0]">---</span>
      <span ng-show="vm.form && vm.form.time && vm.form.destiny && vm.form.origin && vm.combinations.getPricing()[0]">
        <span ng-bind-html="vm.combinations.getPricingPlan(vm.form.time, item.time) | moneyFormatBR"></span>
      </span>
    </p>
  </div>
  <div class="column" ng-class="'c' + {{vm.plans.total + 1}}">
    <p class="product">
      <span class="description">Normal</span>
      <span ng-show="!vm.form || !vm.form.time || !vm.form.destiny || !vm.form.origin || !vm.combinations.getPricing()[0]">---</span>
      <span ng-show="vm.form && vm.form.time && vm.form.destiny && vm.form.origin && vm.combinations.getPricing()[0]">
        <span ng-bind-html="vm.combinations.getPricingPlan(vm.form.time) | moneyFormatBR"></span>
      </span>
    </p>
  </div>
</div>
