#header {
  padding: 0 0 6rem 0;
}
.columns {
  .column(10);
  padding: 0 0 6rem 0;
  display: block;
  float: none;
  margin: 0 auto;
  .clearfix;
  @media (max-width: 720px) {
    padding: 0 0 1rem 0;
    .column(12);
  }
}

.column {
  &.c1 { .column(12); }
  &.c2 { .column(6); }
  &.c3 { .column(4); }
  &.c4 { .column(3); }

  &.c1,&.c2,&.c3,&.c4 {
    @media (max-width: 720px) {
      .column(12);
      margin-bottom: ((@gutter-width / 2) * 1px);
      margin-top: ((@gutter-width / 2) * 1px);
    }
  }
}

.align {
  &-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.brand {
  margin-top: 0;
  font-weight: 400;
  font-size: 2rem;
}

.btn {
  border: none;
  border-radius: 2px;
  display: inline;
  outline: 0;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  height: 38px;
  line-height: 38px;
  padding: 0 2rem;
  background-color: rgba(0,0,0,.60);
  color: #fff;
  font-weight: 600;
  &-plus {
    height: 22px;
    line-height: 22px;
    padding: 0 0.5rem;
  }
  &-close {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    display: inline-block;
    text-decoration: none;
    border: 0;
    height: 22px;
    line-height: 22px;
    padding: 0 .5rem;
  }
}

.input-text {
  display: inline;
  font-weight: 600;
  padding: 8px;
  background-color: rgba(0,0,0,.60);
  color: #fff;
  border: none;
  vertical-align: middle;
  width: 96px;
  height: 38px;
  line-height: 38px;
  outline: 0;
  border-radius: 2px;
  -webkit-tap-highlight-color: transparent;
  &-plus {
    width: 74px;
  }
}

.inline-block {
  display: inline-block;
}

.margin-right {
  margin-right: (@gutter-width * 1px);
}

.product {
  .description {
    display: block;
    margin: 0;
    font-size: 1rem;
  }
  .price {
    margin: 0;
    font-weight: 400;
    font-size: 2.5rem;
  }
}
