<div>
  <input type="text" class="input-text input-text-plus" ng-model="modal.selected" ng-readonly="true">
  <div class="modal modal-backdrop" ng-show="!modal.modalHidden">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <p>&hellip;</p>
          <p ng-repeat="item in details.data" ng-click="modal.choose(item)">
            {{item.ddd}} {{item.city}}
          </p>
        </div>
      </div>
      <a href class="btn btn-close" aria-label="Close" aria-hidden="true" ng-click="modal.hide()">
      &times;
      </a>
    </div>
  </div>
  <button class="btn btn-plus" ng-click="modal.show()">+</button>
</div>
