.modal {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal-dialog {
  position: absolute;
  top: 50%;
  height: 20em;
  max-height: 20em;
  margin-top: -10.5em;
  border-radius: 2px;
  position: relative;
  width: auto;
}

.modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 2;
  background-clip: padding-box;
  outline: 0;
  overflow-y: scroll;
  max-height: 20em;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0,0,0,.5);
}

.modal-title {
  margin: 0;
}

.modal-body {
  position: relative;
  text-align: left;
  padding: (@gutter-width/2 * 1px);
  .item {
    margin: 0;
    padding: (@gutter-width/2 * 1px);
  }
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 720px) {
  .modal-dialog {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}
