@import './common/normalize.css';
@import './common/grid.less';
@import './common/variables.less';
@import './common/modals.less';
@import (css) 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600';

@import './home/home.less';

* {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
  @media only screen and (min-width: 0) {
    font-size: 14px;
  }
  @media only screen and (min-width: 992px) {
    font-size: 14.5px;
  }
  @media only screen and (min-width: 1200px) {
    font-size: 15px;
  }
  @media only screen and (min-width: 1408px) {
    font-size: 15.5px;
  }
  font-weight: 300;
  color: rgba(0, 0, 0, 0.87);
  font-family: 'Source Sans Pro', 'Roboto', sans-serif;
}

html, body {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 360px;
}

h1, h2, h3 {
	font-weight: 600;
}

.container {
  width: @container-width;
  .clearfix;
  margin: 0 auto;
  @media (min-width: 1280px) {
    width: 1280px;
  }
}
